

.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* header */

.header{
    background-image: url(../imeges/Hero-bg.png);
    
    margin: auto;

}

/* shared styles */
.text-primary{
    color: #4E47FF;
}
.btn-primary{
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 24px;
    padding: 20px 30px;
    border-radius: 5px;
    color: white;border: none;


}

/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
}
.nav-title{
    font-weight: 900;
    font-size: 50px;
}
.banner{
    text-align: center;
     font-weight: bold;
    padding: 309px 154px;
    
    
    
}

.banner-primary{
    color: #252432;
    width: 802px;
    height: 150px;
    font-size: 65px;
    margin: 0 auto;
    
}
/* section styles */
.section-primary{
    display: flex;
    justify-content: space-between;
    gap: 220px;
    margin: 162px 0px 70px 0px;
    
}
.small-image{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}
.section-title{
    font-weight: bold;
    font-size: 42px;
    color: #252432;
}
.section-description{
    font-size: 24px;
    color: #252432;
}
/* section-resume */
.section-resume{
    font-weight: bold;
    font-size: 80px;
    color: #4E47FF;
    
}
.section-two-primary{
    display: flex;
    justify-content: center;
    
    gap: 158px;
    
}
.section-two{
    text-align: center;
    justify-content: center;
    background-color: rgba(78, 71, 255, 0.1);
    padding-top: 100px;
}
.section-two-had{
    font-weight: bold;
    font-size: 38px;
    color: #252432;
    
}
main{
    max-width: 1140px;
    margin: 0 auto;
    background-color: #D6DDED;
}

.section-four{
    justify-content: center;
}

.section-four-description{
    text-align: center;
    
}

.section-image{
    border-radius: 48px;
    width: 840px;
    height: 364px;
    margin: 0px 150px 71px;
}
.section-four-title{
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    
}
.btn-section{
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 24px;
    padding: 20px 30px;
    border-radius: 10px;
    color: white;border: none;
    margin-left: 472.5px;

    

}
.lust-section{
    display: flex;
    
    
}
.column-primary{
    
    font-size: 97px;
    font-weight: bold;
}
.column-two{
    padding: 71px 0px;
}
form input[type="email"], form input[type="text"], form input[type="button"], form textarea{
    height: 50px;
    width: 497px;
    border-radius: 10px;
    display: block;
    
}
.footer-primary{
    display: flex;
    gap: 48px;
    justify-content: center;
}
footer{
    
}
.footer-title{
    text-align: center;
    padding-bottom: 0px;
    font-weight: bold;
    font-size: 50px;
}
.footer-description{
    text-align: center;
}
footer ul li{
    list-style: none;

}
footer ul a{
    text-decoration: none;
}